version: '3.8'

services:

  postgres:
    image: postgres:16.0
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init/postgres/initdb/:/docker-entrypoint-initdb.d/:ro
    port:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    restart: unless-stopped
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
    link:
      - postgres:db
    ports:
      - 8080:8080
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
